.content{
    display: flex;
    margin: auto;
    width: 820px;
    height: 660px;
}

.left{
    width: 400px;
    background-image: url(../img/left\ col.jpg);
}


.right{
    width: 400px;
    margin-left: 1rem;
    margin-top: 5rem;
}

.checkbox{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}