.passwordsecurity{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 10px;
}
.bar{
    background-color: green;
    margin-right: 10px;
    border-radius: 5px;
}
.bar:last-of-type{
    background-color: gray;
}