h1{
    animation: rgb 5s alternate infinite;
}

.account{
    margin-bottom: 3rem;
}

.account a{
    color: blue;
    text-decoration: none;
    font-weight: lighter;
}

.ortext{
    width: 100%;
}

h2{
    color: gray;
    font-size: 1rem;
}

.or{
    display: flex;
    justify-content: center;
}

.checkboxtext{
    display: block;
    padding-left: 1rem;
    color: gray;
}

.checkboxtext a{
    color:blue;
    text-decoration: none;
}